.bakgrund {
  background: rgb(221, 221, 221);
  text-align: left;
  height: 130px;
  width: 350px;
}

.tjena {
  color: rgba(77, 77, 77, 0.933);
  font-size: 20px;
  margin-left: 30px;
}

.user {
  font-size: 25px;
  margin-bottom: 1px;
}

.namn {
  color: #292929;
  font-size: 20px;
  margin-left: 2px;
  /*display: block;
  margin-bottom: 70px;*/
}